<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Attendance Details</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Attended</th>
            <th>Missed</th>
            <th>Percentage</th>
        </tr>
        {% for s in subjects %}
        <tr>
            <td>{{ s.name }}</td>
            <td>{{ s.course }}</td>
            <td>{{ s.attended }}</td>
            <td>{{ s.missed }}</td>
            <td>{{ s.percentage }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Total Sessions Per Course</h1>
    <table border="1">
        <tr>
            <th>Course Code</th>
            <th>Total Sessions</th>
            <th>Sessions Can Be Missed</th>
        </tr>
        {% for t in totals %}
        <tr>
            <td>{{ t['Course Code'] }}</td>
            <td>{{ t['Total Sessions'] }}</td>
            <td>{{ t['Sessions Can Be Missed'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
